/* #goldNav {
    background-image: url("../images/goldbackground.jpg");
    height: 30px;

} */

.col-md-6 {
    top: 200px;
}

body {
    background-image: url("../images/sidePalmTrees.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}



.card-body {
    border: 2px solid turquoise;
    background-color: white;
    padding-bottom: 100px;
}

h1 {
    text-align: center;
    color: rgb(8, 154, 156);
}

h3 {
    color: rgb(8, 154, 156);

}

.card-footer {
    background-image: url("../images/glitter-sand.jpg");
}

/* Cited: https://jsfiddle.net/phollott/x29ym2ag/ */
.letter {
    display: inline-block;
    list-style: none;
    width: 20px;
    margin: 0 5px;
    border-bottom: 1px solid black;
    text-align: center;
    color: white;
    font-size: 20px;
}

.current-word {
    list-style: none;
    color: teal;
    font-weight: bold;
    font-size: 20px;
    margin-left: -40px;
    margin-bottom: 10px;
}

.output {
    opacity: 0;
    transition: opacity 1s ease;
}

.correct {
    background-color: teal;
    transition: all 1s ease;
}

.error {
    color: red;
    opacity: 1;
}

.warning {
    color: rgb(241, 180, 66);
    opacity: 1;
}

.win {
    color: green;
    opacity: 1;
}